<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="OrmConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=MicroFullText;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>
